@font-face {
  font-family: "DeadlockFont";
  src: url("../../assets/fonts/deadlockfont.ttf") format("truetype");
}

html, body {
  height: 100%;
  margin: 0;
 /*overflow: hidden; /* Prevent scrolling */;
}

.about-container {
  background-color: slategrey;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "DeadlockFont", sans-serif; /* Apply custom font */
  color: #333; /* Text color */
  padding: 20px;
  height: 100vh; /* Ensure it covers the full viewport height */
  box-sizing: border-box;
  flex-grow: 1;
 /* overflow: hidden; /* Prevent internal scrolling */
}

.about-container h1 {
  font-size: 48px; /* Increase font size for the heading */
  margin-bottom: 20px;
}

.about-container p {
  font-size: 24px; /* Increase font size for the paragraph */
  margin-top: 0; /* Remove default margin-top */
}
.text-boxes {
  display: flex;
  justify-content: space-between;
  width: 84%;
  margin-top: 20px;
  flex-wrap: wrap; /* Allow wrapping to fit within the viewport */
} /* Additional styles for .text-boxes */


.text-box {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  text-align: center;
  width: 50px;
}

.text-box a {
  display: block;
  margin-top: 10px;
}

.text-box img.logo {
  width: 50px; /* Adjust the size of the logo */
  height: auto;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px; /* Set the same width as .text-box */
  height: 300x; /* Set the same height as .text-box */
  margin-top: 0px; /* Space between text box and image */
  margin-bottom: -5px;
}

.profile-image {
  max-width: 100%; /* Ensure the image fits within the container */
  max-height: 100%; /* Ensure the image fits within the container */
  height: auto; /* Maintain aspect ratio */
  opacity: 0.8; /* Set the opacity to blend the image */
  filter: blur(0.3px); /* Apply a slight blur to the image */
  margin-left: 20px;
  margin-right:20px;
  border-radius:10px;
}